# SPDX-FileCopyrightText: Copyright (c) 2026 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
# SPDX-License-Identifier: Apache-2.0

iniconfig==2.3.0
packaging==25.0
pluggy==1.6.0
Pygments==2.20.0
pytest==9.0.3
PyYAML==6.0.3
